*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/coinbase/src/main/java/me/jameshunt/coinbase/CoinbaseKeys.kt
